<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>a1</servlet-name>
        <servlet-class>saveinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a4</servlet-name>
        <servlet-class>db.display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a2</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a3</servlet-name>
        <servlet-class>db.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a5</servlet-name>
        <servlet-class>db.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a6</servlet-name>
        <servlet-class>saveQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a8</servlet-name>
        <servlet-class>EXAM_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e1</servlet-name>
        <servlet-class>editQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e2</servlet-name>
        <servlet-class>displayQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e3</servlet-name>
        <servlet-class>db.dispQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d</servlet-name>
        <servlet-class>db.delQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d2</servlet-name>
        <servlet-class>Exam1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>y</servlet-name>
        <servlet-class>db.tryy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>a1</servlet-name>
        <url-pattern>/saveinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a4</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a2</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a3</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a5</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a6</servlet-name>
        <url-pattern>/saveQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a8</servlet-name>
        <url-pattern>/EXAM_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e1</servlet-name>
        <url-pattern>/editQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e2</servlet-name>
        <url-pattern>/displayQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e3</servlet-name>
        <url-pattern>/dispQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d</servlet-name>
        <url-pattern>/delQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d2</servlet-name>
        <url-pattern>/Exam1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>y</servlet-name>
        <url-pattern>/tryy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
